@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: rgb(93,27,27);
  background: linear-gradient(0deg, rgb(75, 22, 22) 0%, rgba(0,0,0,1) 100%); */
  
  background: rgb(8, 7, 7);
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  height: 100;
  color: white;
}


/* 
body {
  background: black;
  background: linear-gradient(4deg, rgba(31,41,55,1) 0%, rgba(75,85,99,1) 100%);
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  color: white;
} */